<h1 id="b"><center> Sorry! You Are Not Registered With this Email ID</center></h1>
<center><img id="a" src="error.png"></center>
<style>
#a{
    padding-top:1%;
    font-size:5rem;
    width:100%;
    overflow:hidden;
}
#b{
    padding-top:5%;
    
}
</style>