<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment" id="a">
    <form class="ui form" action="/" method="POST">
            <div class="ui huge header">Generate Certificate</div>
                    <div class="field">
                <label for="email">Your Email Id</label>
                <input type="text" name="email" autofocus class="form control">
            </div>
            <div class="field">
                    <button class="ui button" type="submit">Generate</button>            </div>
        </form>
</div>
<!-- <div>
   <h1>Instructions To Download Image:</h1>
        <ul>
    <li>
        <h3>Enter Your Email ID with which you registered for workshop</h3>
    </li>
    <li>
        <h3>Click On Verify</h3>
    </li>
    <li>
        <h3>A image will be generated click on preview</h3>
    </li>
    <li>
        <h3>If your Information is correct,then click download.</h3>
    </li>
</ul>

</div> -->
<style>
    body  {
   background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size:cover
 }
 #a{
     margin-top:10%;
 }
     </style>